In [1]:
import mysql.connector as connector

In [2]:
connection = connector.connect(user='root',password='Fammex0203')
if connection.is_connected:
    print('connection with database successful!')
else:
    print('connection unsuccessful')

connection with database successful!

In [3]:
cursor = connection.cursor()

In [4]:
cursor.execute('USE littlelemondb')
cursor.execute('SHOW TABLES')
result = cursor.fetchall()
for i in result:
    print(i)

('bookings',)
('customers',)
('delivery',)
('menu',)
('orders',)
('ordersview',)
('staff',)

In [5]:
cursor.execute('''SELECT Orders.TotalCost, Customers.FullName, Customers.Email, Customers.ContactNumber FROM Orders JOIN Bookings ON Orders.BookingID = Bookings.BookingID 
JOIN Customers ON Bookings.CustomerID = Customers.CustomerID WHERE Orders.TotalCost > 60;''')
result = cursor.fetchall()
col = cursor.column_names
print(col)
for i in result:
    print(i)

('TotalCost', 'FullName', 'Email', 'ContactNumber')
(Decimal('75.00'), 'Alice Johnson', 'alicej@example.com', '5551234567')

In [6]:
cursor.close()
connection.close()